body{
    display : flex;
}

.icons {
    width: 16px;
    height: 16px;
}

.addStarButton{
    width: 16px;
    height: 16px;
}

.addViewButton{
    width: 16px;
    height: 16px;
}

.shareButton{
    width: 16px;
    height: 16px;
}

